<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script data-require="angular-message.js@*" data-semver="1.4.9" src="https://code.angularjs.org/1.4.9/angular-messages.min.js"></script>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    
    <style>
		body{
		padding-top: 50px;
		}
		</style>
  </head>

  <body class="container" ng-app="app" ng-controller="MainCtrl as main">
    <form name="userForm" novalidate="">
      <div class="form-group" ng-class="{'has-error':userForm.name.$touched && userForm.name.$invalid}">
        <label>用户名</label>
        <input type="text" name="name" class="form-control" ng-model="main.name" ng-minlength="5" ng-maxlength="10" required="" />
        <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
          <p ng-message="minlength">用户名最小长度5</p>
          <p ng-message="maxlength">用户名最大长度10</p>
          <p ng-message="required">用户名必填</p>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error':userForm.email.$touched && userForm.email.$invalid}">
        <label>邮箱</label>
        <input type="email" name="email" class="form-control" ng-model="main.email" ng-minlength="5" ng-maxlength="20" required="" />
        <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
          <div ng-messages-include="emailMessages.html"></div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger">提交</button>
      </div>
      <pre>{{userForm.name.$error}}</pre>
      <pre>{{userForm.email.$error}}</pre>
    </form>
    <script src="./app.js"></script>
  </body>

</html>
